html {
    font-style: 124px;
}

body {
    background-color: #eef3f5;
    color: #131313;
    font-family: "Roboto", sans-serif;
}


.top-nav {
    background-color: #fff;
    padding: 15px;
}


.top-nav_menu {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 45px;
}


.top-nav_menu li {
    margin-right: 45px;
}



