.slick-active {
  outline: none !important;
}

@media (max-width: 480px) {
  .top-nav-btn {
    display: block;
  }
  .top-nav-menu {
    flex-direction: column;
    display: none;
  }
  .top-nav-menu__active {
    display: flex;
    margin-bottom: 0;
  }
  .top-nav-menu li {
    line-height: 2;
  }
  .top-nav-menu li a::after {
    display: none;
  }
}
html {
  font-size: 14px;
}

body {
  margin: 0;
  background-color: #eef3f5;
  color: #131313;
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
}

a {
  color: #009adf;
}

h2 {
  font-size: 24px;
}

.btn {
  padding: 20px 30px;
  display: inline-block;
  color: #faf8f8;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}
.btn-primary {
  background-color: #009adf;
  border-bottom: 5px solid #0077ac;
}
.btn-primary:hover {
  background-color: #00a1e9;
}

.top-nav {
  background-color: #faf8f8;
  padding: 15px;
  position: relative;
}
.top-nav-btn {
  display: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  position: absolute;
  right: 16px;
  top: -50px;
}
.top-nav-btn:hover {
  cursor: pointer;
}
.top-nav-menu {
  list-style: none;
  padding: 0;
  display: flex;
}
.top-nav-menu li {
  margin-right: 45px;
}
.top-nav-menu li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #131313;
  font-weight: 700;
}
.top-nav-menu li a::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #FFF;
  background-color: #009adf;
  transform: translateY(40px) scale(0);
  transition: all 0.2s;
}
.top-nav-menu li a:hover {
  text-decoration: none;
}
.top-nav-menu li a:hover::after {
  transform: translateY(38px) scale(1);
}

.left-sidebar {
  margin-top: 40px;
}
.left-sidebar img {
  height: 250px;
  width: 350px;
}
.left-sidebar-menu {
  background-color: #faf8f8;
  list-style: none;
  padding: 0;
}
.left-sidebar-menu li {
  transition: all 0.1s;
}
.left-sidebar-menu li:first-child a {
  padding-top: 20px;
}
.left-sidebar-menu li:last-child a {
  padding-bottom: 20px;
}
.left-sidebar-menu li:hover {
  background-color: #009adf;
}
.left-sidebar-menu li:hover a {
  color: #faf8f8;
}
.left-sidebar-menu li a {
  display: block;
  padding: 15px 29px;
  text-decoration: none;
  color: #131313;
  font-size: 16px;
  font-weight: 400;
}
.left-sidebar-object {
  margin-top: 30px;
  background-color: #faf8f8;
}
.left-sidebar-object-description {
  padding: 30px;
}
.left-sidebar-object-description h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.content {
  margin-top: 40px;
}

.directions {
  margin-top: 80px;
}
.directions-block {
  background-image: url("../img/happyhouse.jpg");
  background-size: 170px 150px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: #faf8f8;
  height: 220px;
  text-align: center;
  margin: 0 15px;
  padding: 10px;
}
.directions-block h3 {
  color: #009adf;
}

.footer {
  margin-top: 60px;
  background-color: #131313;
  color: #666666;
  padding: 50px 0;
}
.footer-policy-link {
  font-size: 12px;
}
.footer-contacts, .footer-social-links {
  text-align: right;
}
.footer-contacts-phone {
  font-weight: 400;
  font-size: 20px;
  color: #009adf;
}
.footer-social-links li {
  display: inline-block;
}
.footer-social-links li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 42px;
  margin-left: 10px;
  transform: all 0.2s;
}
.footer small {
  display: block;
  margin-top: 56px;
  line-height: 16px;
  font-size: 10px;
  max-width: 80%;
}
.footer a {
  color: #666666;
  text-decoration: none;
}
.footer a:hover {
  color: #faf8f8;
}
.footer p {
  margin-bottom: 14px;
}
.footer img {
  height: 30px;
  width: 30px;
}
.footer ul {
  padding: 0;
  list-style: none;
}
.footer ul li {
  line-height: 32px;
}

@media (max-width: 480px) {
  .top-nav-btn {
    display: block;
  }
  .top-nav-menu {
    flex-direction: column;
    display: none;
  }
  .top-nav-menu__active {
    display: flex;
    margin-bottom: 0;
  }
  .top-nav-menu li {
    line-height: 2;
  }
  .top-nav-menu li a::after {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */