@import "colors"
@import "reset"
@import "media"


html
    font-size: 10px

img
    max-width: 100%

body
    margin: 0
    background-color: $body-bg
    color: $dark
    font-family: 'Roboto', sans-serif
    padding-top: 40px
    font-size: 14px

a
    color: $active-color

h2
    font-size: 24px

.btn
    padding: 20px 30px
    display: inline-block
    color: $white
    border: none
    border-radius: 5px
    text-decoration: none
    font-size: 16px
    font-weight: 700
    &-primary
        background-color: $active-color
        border-bottom: 5px solid darken($active-color, 10%)
        &:hover
            background-color: lighten($active-color, 2%)


.top-nav 
    background-color: $white
    padding: 15px 34px
    position: relative
    &-btn
        display: none
        width: 30px
        height: 30px
        background-color: transparent
        border: none
        font-size: 18px
        position: absolute
        right: 15px
        top: -50px
        &:hover
            cursor: pointer
    &-menu
        transition: all 0.2s
        list-style: none
        padding: 0
        display: flex
        li
            margin-right: 45px
            &:last-child
                margin-right: 0
            a
                text-transform: uppercase
                text-decoration: none
                color: $dark
                font-weight: 700
                &::after
                    content: ''
                    width: 100%
                    height: 2px
                    display: block
                    background-color: $active-color
                    transform: translateY(37px) scale(0)
                    transition: all 0.2s
                &:hover
                    text-decoration: none
                    &::after
                        transform: translateY(38px) scale(1)


.left-sidebar
    margin-top: 4rem
    &-btn
        display: none
        background-color: $white
        padding: 15px
        position: relative
        &:hover
            cursor: pointer
        &::after
            content: ''
            display: inline-block
            top: 50%
            margin-top: -10px
            right: 15px
            width: 15px
            height: 15px
            position: absolute
            border-bottom: 2px solid $dark
            border-right: 2px solid $dark
            transform: rotate(45deg)
    img
        height: 250px
        width: 350px
    &-menu
        background-color: $white
        list-style: none
        padding: 0
        li
            transition: all 0.1s
            &:first-child
                a
                    padding-top: 20px
            &:last-child
                a
                    padding-bottom: 20px
            &:hover
                background-color: $active-color
                a
                    color: $white
            a
                display: block
                padding: 15px 29px
                text-decoration: none
                color: $dark
                font-size: 16px
                font-weight: 400


.content
    margin-top: 40px
    margin-bottom: 76px

.directions
    margin-top: 80px
    &-block
        background-image: url('../img/happyhouse.jpg')
        background-size: 170px 150px
        background-repeat: no-repeat
        background-position: bottom center
        background-color: $white
        height: 220px
        text-align: center
        margin: 0 15px
        padding: 10px
        h3
            color: $active-color

.footer
    margin-top: 60px
    background-color: $dark
    color: $footer-text
    padding: 50px 0
    small
        display: block
        margin-top: 56px
        line-height: 16px
        font-size: 10px
        max-width: 80%
    a
        color: $footer-text
        text-decoration: none
        &:hover
            color: $white
    p
        margin-bottom: 14px
    img
        height: 30px
        width: 30px
    ul
        padding: 0
        list-style: none
        li
            line-height: 32px
    &-policy-link
        font-size: 12px
    &-contacts
        text-align: right
        &-phone
            font-weight: 400
            font-size: 20px
            color: $active-color
    &-social-links
        @extend .footer-contacts
        li
            display: inline-block
            a
                display: inline-block
                width: 35px
                height: 35px
                text-align: center
                line-height: 42px
                margin-left: 10px
                border-radius: 50%
                transform: all 0.2s
                background-color: rgba($white, 0.1)
                &:hover
                    background-color: rgba($white, 0.9)
                    color: $dark

.team
    text-align: center
    h4
        font-size: 18px
        font-weight: 400px
        margin-bottom: 15px
    p
        margin-bottom: 40px

.contacts
    font-size: 16px
    &-img
        margin-right: 12px
        vertical-align: middle
        width: 20px
        height: 20px
    &-address
        display: block
        line-height: 2
        margin-bottom: 20px
        line-height: 2
    &-btn
        margin-top: 36px
    &-social-links
        ul
            list-style: none
            margin-top: 36px
            padding: 0
            li
                display: inline-block
                a
                    display: inline-block
                    color: $white
                    margin-right: 15px
                    width: 32px
                    height: 32px
                    text-align: center
                    line-height: 32px
                    border-radius: 50%

.organization
    &-card
        background-color: $white
        margin-bottom: 30px
        min-height: 42rem
        display: flex
        flex-direction: column
        padding: 25px 30px
        transition: all 0.2s
        &:hover
            box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1)
        a
            text-transform: uppercase
            text-decoration: none
            display: block
            margin-bottom: 20px
        small
            display: block
            color: $inn
            line-height: 1.6
            margin-bottom: 20px
        p
            line-height: 22px

.calc
    h4
        margin-top: 0
        margin-bottom: 30px
    &-radio
        flex-basis: 50%
        &:last-child
            flex-basis: 100%
            display: flex
    &-legal
        font-size: 12px
    &-programms
        display: flex
        flex-wrap: wrap
        label
            display: inline-block
            margin-bottom: 20px
            small
                display: block
                margin-left: 30px
                opacity: 0.5
                font-size: 10px
            &:hover
                cursor: pointer
            &::before
                content: ''
                display: inline-block
                vertical-align: middle
                width: 24px
                height: 24px
                box-shadow: 0 5px 10px rgba(0, 0, 1, 0.1)
                background-color: $white
                border: 6px solid $white
                border-radius: 50%
                transition: all 0.2s
    input[type="radio"]
        display: none
        &:checked
            &+label::before
                background-color: $active-color
                border: 6px solid $white
    &-popular
        padding-left: 4px
        padding-right: 5px
        margin-left: 16px
        height: 25px
        color: $white
        display: flex
        justify-content: center
        align-items: center
        font-size: 10px
        text-transform: uppercase
        background-color: $active-color
        position: relative
        &::before
            content: ''
            width: 6px
            height: 13px
            position: absolute
            left: -12px
            top: 50%
            margin-top: -6px
            border: 6px solid transparent
            border-right: 6px solid $active-color
    &-summ
        &-invest
            margin-top: 30px
            &-label
                margin-right: 10px
            &-num
                display: inline-block
                padding: 10px 48px
                background-color: $white
                font-size: 18px
    &-total, &-monthly
        margin-top: 20px
        display: inline-block
        text-align: center
        background-color: $white
        padding: 10px 0
        margin-right: 34px
        strong
            font-size: 18px
            color: $active-color
            font-weight: 400
        small
            font-size: 10px
    &-monthly
        background-color: transparent
        display: inline-block
        text-align: center
        font-size: 15px
        small
            font-size: 10px

.object
    &-card
        background-color: $white
        margin-bottom: 30px
        img
            width: 100%
        &-text
            padding: 30px
        &-title
            display: block
            font-style: 16px
            color: $active-color
            text-decoration: none
        &-price
            display: block
            font-size: 20px
            font-weight: 700
            color: $active-color
            text-align: center
        &-btn
            display: block
            text-align: center
        &-more
            display: block
            color: $dark
            margin-top: 30px
            text-align: center

.object-page
    &-gallery
        float: right
        img
            height: 200px
            width: 300px

.model
    display: none
    background-color: rgba(0,0,0,0.4)
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    &-content
        position: relative
        background-color: $white
        padding: 30px 50px
        width: 100%
        max-width: 370px
        margin: 50px auto
        text-align: center
        box-shadow: 0 12px 24px rgba(0,0,1,0.18)
        .close
            position: absolute
            right: 15px
            top: 15px
            line-height: 1
            font-size: 20px
            opacity: 0.5
            &:hover
                cursor: pointer
            h4
                margin-top: 0
                margin-bottom: 14px
                font-size: 18px
                color: $active-color
            p
                font-size: 12px
                margin-top: 0
    &-form
        margin-top: 37px
        input
            display: block
            width: 100%
            border: 1px solid rgba($dark, 0.15)
            font-size: 15px
            margin-bottom: 10px
            border-radius: 4px
            padding: 20px
        &-btn
            display: block
            width: 100%
            margin-bottom: 20px



@import "media"

